.following.bar.light {
    background: #862486;
    color: #fff;
    border-bottom-color: #691a69;
}

.following.bar .top.menu a.item {
    color: #fff;
}

.following.bar .top.menu a.item:hover {
    background-color: #691a69;
    color: #f0f0f0;
}

.following.bar .top.menu a.item.active {
    background-color: #691a69;
    color: #f0f0f0;
}

.following.bar .head.link.item {
    color: #f0f0f0;
}

.following.bar .head.link.item i.octicon-triangle-down {
    font-size: 12px;
    color: #d8d5d5;
}

.following.bar .right.menu .dropdown .menu {
    border-radius: 0;
}

.ui.menu .ui.dropdown .menu>.item:hover,
.ui.menu .ui.dropdown .menu>.selected.item {
    background-color: #3b73af !important;
    color: #fff !important;
    border-radius: 0;
}

.ui.top.attached.header,
.ui.vertical.menu .header.item {
	background-color: #3b73af;
    color: #fff;
    border: 0;
}

.ui.menu .active.item:hover,
.ui.vertical.menu .active.item:hover {
	background-color: #3b73af !important;
    color: #fff !important;
    border-radius: 0;
}

.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover {
	background-color: #3b73af !important;
    color: #fff !important;
    border-radius: 0;
}

.ui.vertical.menu .active.item {
	background-color: #3b73af !important;
    color: #fff !important;
    border-radius: 0;
}